
* {
  box-sizing: border-box;
}


.register{
  padding: 30px;
  background-color: white;
  width: 600px;
  border: 0.6px solid #A9A9A9;
  margin: 30px auto;
  border-radius: 15px;
}



#form-id:focus, input[type=password]:focus,input[type=email]:focus , input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  width: 100px;
}

#commentDiv{
  outline: none;
  border-bottom: 1px solid black;
  margin: 10px;
  text-align: left;
  width : 75%;
}

.registerbtn:hover {
  opacity: 1;
}
.registerLink{
  margin-left: 35%;
  text-align: left;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
  text-decoration: none;
  font-weight:bolder;
  font-size: 20px;
}


@media screen and (max-width: 700px) {
  input[type=password] , input[type=email] ,#form-id {
   width:300px;
  }

  .registerbtn {
    width: 80px;
  }
  .container{
    margin : 0px;
  }

  .register{
  width:400px;
  }

  .registerLink{
    margin-left: 5%;
  }

}
/* Set a grey background color and center the text of the "sign in" section */
